{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "airbnb-base",
        "prettier",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "babel",
        "import",
        "prettier"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "node": false,
        "mocha": false
    },
    "settings": {
        "react": {
            "version": "16.5.2"
        }
    },
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-invalid-this": 0,
        "babel/no-invalid-this": 2,
        "prettier/prettier": "error"
    },
    "globals": {}
}
