language: node_js
sudo: false
os:
  - linux
  - osx
node_js:
  - "node"
  - "10"
  # - "9"
  - "8"
  # - "7" - Unsupported(https://github.com/nodejs/Release#end-of-life-releases)
  # - "6"
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn build
